<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header-css"/>

    <style>
      body {
        background-image:   url('https://preview.ibb.co/gmrCLo/doctor.jpg'), url('https://preview.ibb.co/jpyuJJ/nurse.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center right, center left;
      }
    </style>

</head>
<body>

<div th:replace="header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Doctor page</h1>

        <h1 th:inline="text">Hello Doctor!</h1>
        <br>

        <form th:action="@{/doctor/login}" method="get" align="center">
            <input type="submit" value="Log In"/>
        </form>

        <br>



        <form th:action="@{/doctor/signin}" method="get" align="center">
            <input type="submit" value="Sign In"/>
        </form>

        <br>

        <form th:action="@{/home}" method="get" align="center">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>

</body>
</html>
