<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DCCCS ANALYSIS</title>
    <link rel = "stylesheet" th:href="@{/css/asd.css}" href="../statis/asd.css">

      <style>
        body {
          background-image:   url('https://preview.ibb.co/gmrCLo/doctor.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center right;
          background-size: 800px 800px;
        }
      </style>


</head>
<body>

<div th:replace="header :: header"/>

<div class="container">

        <h1>DCCCS ANALYSIS</h1>
        <h2>1.<a th:href="@{doctor}">Doctor page (Need Doctor Role)</a></h2>
        <h2>2.<a th:href="@{/pacient}">Pacient page (Need Pacient Role)</a></h2>
        <h2>3.<a th:href="@{/about}">About page</a></h2>
</div>
<!-- /.container -->

<div th:replace="footer :: footer"/>

</body>
</html>
