<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Pacient page</h1>

        <h1 th:inline="text">Hello Pacient!</h1>

        <table  border="1">
           <thead>
             <tr>
       		<th>NAME</th>
       		<th>RESULT</th>
             </tr>
           </thead>
           <tbody>
             <tr th:each="analysis : ${ analysisList }">

       				<td th:text="${ analysis.name }"></td>
       				<td th:text="${ analysis.result }"></td>

       	  </tr>
           </tbody>
         </table>

         <form th:action="@{/pacient/update}" method="get">
             <input type="submit" value="Update"/>
         </form>

         <br>

        <form th:action="@{/home}" method="get">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>
<!-- /.container -->

<div th:replace="footer :: footer"/>

</body>
</html>
