<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag ---------->
<head>
    <div th:replace="header :: header-css"/>

  <style>
      body {
        background-image:   url('https://preview.ibb.co/gmrCLo/doctor.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center bottom;
      }
    </style>
</head>

<div align="middle">

    <h2>Sign Up</h2>
    <form enctype="multipart/form-data" method="POST">
      <label>Name</label>
      <input type="text" name="name" class="span3">
      <label>New Password</label>
      <input type="password" name="password" class="span3">
      
      <br>
      <form method="get">
          <input type="submit" value="Update"/>
      </form>
      <div class="clearfix"></div>
    </form>

</div>
